body {
    background: url('background.jpg');
    background-repeat: no-repeat;
    margin: 0;
    height: 100%;
    background-size: cover;
}
#graph {
    width: 450px;
    height: 450px;
    margin-top: 20px;
    margin-left: auto;
}
slider-text-input {
    display: block;
}
.center-margin-top-sm {
    text-align: center;
    margin-top: 10px;
}
#label-checkboxes {
    display: block;
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
}
.wrapper {
    width: 200px;
    margin: auto;
    text-align: center;
}
#sine-label {
    margin-right: 20px;
}
.main-title {
    text-align: center;
    margin-top: 20px;
}
.main-title2 {
    text-align: center;
    margin-top: 5px;
}
#stop-button {
    display: block;
    width: 100px;
    margin: auto;
    text-align: center;
    background-color: red;
    color: white;
}